html {
  background: url("./background.jpg") top center;
  background-size: cover;
  text-align: center;
  font-family: "helvetica neue";
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%; /* 원으로 만들어주기 위해 */
  margin: 50px auto; /* 상하: 50px, 좌우: auto(즉, 중앙정렬) */
  position: relative;
  padding: 2rem;
  box-shadow: 
    0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #efefef,
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);     /* 세로로 이동 (+: 아래쪽, -: 위쪽). account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;

  transform-origin: 100%; /* 회전시 중심축을 right-hand side로 해주기 위해 (default는 50%) */
  transform: rotate(90deg); /* default를 12시로 하기 위해*/
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 2.35, 0.58, 1); /* 시계와 같은 효과를 주기 위해. 개발자 도구에서 ease-in-out 값 수정*/
}

/* clock hand가 12시쪽으로 도달하면 clock hand가 튀는 현상이 생겨 이를 막아주기 위함*/
.bypass {
  transition: all 0s;
}