html {
  font-size: 10px;
  background: url("./background.jpg") bottom center;
  background-size: cover;
}

body {
  /* 전체 화면 크기를 정해주기 위해 */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1; /* flex-grow: 1, flex-shrink: 1, flex-basis:0 */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 100px;
  text-align: center;
  color: white;
  /* 0.4는 투명도 */
  background-color: rgb(0, 0, 0, 0.4);
  /* 그림자 수평거리, 수직거리, 흐림정도 */
  text-shadow: 0 0 5px black;

  /* Apply to all changed properties, duration */
  transition: all 0.07s;
}

.playing {
  /* scale: resize 2D element */
  transform: scale(1.1);
  border-color: #ffc600;
  /* 그림자 수평거리, 수직거리, 흐림정도 */
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase; /* 대문자로 바꿔줌 */
  letter-spacing: 1px;
  color: #ffc600;
}
